<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Student List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students | async">
            <td class="align-middle">{{student.id}}</td>
            <td class="align-middle">{{student.firstName}}</td>
            <td class="align-middle">{{student.lastName}}</td>
            <td class="align-middle"><button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
                <button (click)="studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>